.hero{
    text-align: center;
}

.red  {
    width: 5em;
    height: 5em;

}
.blue {
    width: 5em;
    height: 5em;
}

.yellow {
    width: 5em;
    height: 5em;
}

.green {
    width: 5em;
    height: 5em;
}




